<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<body style='max-width:400px'>

<!--Header, Profile pic, Name-->
<div class="w3-container w3-red">
    <div class="w3-col s3">
      <img src="propic.png" style="width:100%">
    </div>
    <div class="w3-col s9 w3-container">
      <h3>Name</h3>
      <h7>100 Points</h7>
    </div>
</div>

<!--Scrollable charities-->
<div class="w3-container">
  <div class="w3-row-padding">
    <div id="charity-scroll" align="center">
      <hr>
        <div id="charity">
          <h2>Charity Name</h2>
          <button align="right">DN</button>
        </div>
      </hr>
    </div>
  </div>
</div>



</body>
</html>
