<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="charitystyles.css">
<body style='max-width:400px'>

<!--Header, Profile pic, Name-->
<div class="navbar">
<div class="w3-container w3-blue">
    <div class="w3-col s3">
      <img src="propic.png" style="width:100%">
    </div>
    <div class="w3-col s9 w3-container">
      <h3>Username</h3>
      <h7>100 Points</h7>
    </div>
</div>
</div>

<!--Scrollable charities-->
<div class="w3-container">
  <div class="w3-row-padding">
     <div class="wtf">    
	<div id="charity-scroll" >
        
          <div id="fname"><h4>Bangor Humane Society</h4></div>
	  <div id="fdonate"><button>Donate</button></div>
	<p>Dogs r awesome, this is where we would have a description about how 		awesome dogs r.
	</p>
	<hr>
	
	          <div id="name"><h4>St. Judes Hospital</h4></div>
	  <div id="donate"><button>Donate</button></div>
	<p>Dogs r awesome, this is where we would have a description about how 		awesome dogs r.
	</p>
	<hr>

          <div id="name"><h4>Wreathes Across America</h4></div>
	  <div id="donate"><button>Donate</button></div>
	<p>Dogs r awesome, this is where we would have a description about how 		awesome dogs r.
	</p>
	<hr>

          <div id="name"><h4>Friends of Acadia</h4></div>
	  <div id="donate"><button>Donate</button></div>
	<p>Dogs r awesome, this is where we would have a description about how awesome dogs r.
	</p>
	<hr>
        </div>
    </div>	
  </div>
</div>



</body>
</html>
