{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300|Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/bootstrap-social.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Friends</title>
</head>
<h1>Friends List</h1>


<h2>Bangor Savings Rewards App</h2>


<form action="/rewards_app/add_friend/" method="post">

    {% csrf_token %}
    {{ form.friend_name.label }}
    {{ form.friend_name }}

    <input type="submit" value="Add Friend"/>
</form>


<h4>List of All Profiles</h4>

{% for u in profiles %}
	-
    {{ u.name }}:
    {{ u.current_points }},
    <br></br>
{% endfor %}


<h4>List of All Friends</h4>

{% for v in friends %}
	-
    {{ v.name }}:
    {{ v.current_points }},
    <br></br>
{% endfor %}
