{% load static %}
<link rel="stylesheet" type="text/css" href="../../static/rewards_app/friends.css" />

<h1>Friends List</h1>


<h2>Bangor Savings Rewards App</h2>


<form action="/rewards_app/add_friend/" method="post">

    {% csrf_token %}
    {{ form.friend_name.label }}
    {{ form.friend_name }}

    <input type="submit" value="Add Friend"/>
</form>	


 <div style="height:55%; margin-top: 5%">
        <div class="text textLarge blue centerAlign" style=" height: 10%; width:100%;">Friend List</div>
        <div class="card" style="margin-top: 15px; height:90%; overflow: scroll; padding:10px" id="friendFeed">
            
            {% for line in user %}
                <div class="card friendUpdate">
                    <div class="profilePic" style="background-color: #FF0000"></div>
                    <div class=" text textSmall friendUpdateUsername">
                        <a href="{{ line }}">{{ line }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
